.all-box {
    height: 100%;
}
.layout-box{
    min-height: 100%;
}

.ant-layout-header{
 padding: 0px 20px;
}
/* 
.ant-layout-sider{
 background: #303133
} */
.head-box{
 width: 100%;
}
.head-box img{
 margin-left: 10px;
 height: 50px;
}
.user-info{
 display: flex;
 flex-direction: row-reverse;
 flex: 1;
 color: aliceblue;
}

.user-info div{
    margin-left: 20px;
    font-size: 15px;
}

.main-box{
    padding: 30px 30px;
}
.title-name{
    font-size: 20px;
    font-weight: bold;
}

.main-content{
    padding: 10px 0px;
}
.group-select{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.group-select label{
    padding-right: 10px; 
}